#title {
    background: #FF4c68;

}

h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;

}

p {
    font-family: 'Ubuntu', sans-serif;

}

.container-fluid {
    padding: 3% 15%;

}